<div class="min-vh-100 bg-black d-flex align-items-center justify-content-center py-5 px-3">

    <div class="card bg-dark border-secondary shadow-lg w-100" style="max-width: 450px;">

        <div class="card-body p-4 p-md-5 text-center">
            <h2 class="text-warning fw-bold mb-1 fs-2">Registro</h2>

            <p class="text-white-50 small mb-4">Ingresa tus credenciales para continuar tu aventura</p>

            <form [formGroup]="userForm" (ngSubmit)="register()" novalidate>

                <div class="mb-3 text-start">
                    <label for="registerName" class="form-label text-light small fw-semibold">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-text bg-black border-2 text-white">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input #txtName type="text" id="registerName" formControlName="nombre" name="names"
                            placeholder="Nombre" class="form-control bg-warning border-2 text-light" required
                            [class.is-invalid]="userForm.get('nombre')?.invalid && userForm.get('nombre')?.touched">

                        @if (userForm.get('nombre')?.invalid && userForm.get('nombre')?.touched) {
                        <div class="invalid-feedback">
                            @if (userForm.get('nombre')?.hasError('required')) {
                            <span class="text-primary"> El nombre es obligatorio.</span>
                            }
                            @if (userForm.get('nombre')?.hasError('minlength')) {
                            <span> Por favor, escribe un nombre válido (ejemplo: Amber).</span>
                            }
                        </div>
                        }
                    </div>


                </div>

                <div class="mb-3 text-start">
                    <label for="registerLastNames" class="form-label text-light small fw-semibold">Apellidos</label>
                    <div class="input-group">
                        <span class="input-group-text bg-black border-2 text-white">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input #txtLastNames type="text" id="registerLastNames" formControlName="apellidos"
                            name="lastNames" placeholder="Apellido1 Apellido2"
                            class="form-control bg-warning text-white border-2" required
                            [class.is-invalid]="userForm.get('apellidos')?.invalid && userForm.get('apellidos')?.touched">

                        @if (userForm.get('apellidos')?.invalid && userForm.get('apellidos')?.touched) {
                        <div class="invalid-feedback">
                            @if (userForm.get('apellidos')?.hasError('required')) {
                            <span class="text-primary"> Los apellidos son obligatorios.</span>
                            }
                            @if (userForm.get('apellidos')?.hasError('minlength')) {
                            <span> Por favor, escribe unos apellidos válidos (ejemplo: Fujimori Higuchi).</span>
                            }
                        </div>
                        }
                    </div>
                </div>

                <div class="mb-3 text-start">
                    <label for="registerEmail" class="form-label text-light small fw-semibold">Correo
                        Electrónico</label>
                    <div class="input-group">
                        <span class="input-group-text bg-black border-2 text-white">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                        <input #txtEmail type="email" id="registerEmail" formControlName="correo" name="email"
                            placeholder="ejemplo@correo.com" class="form-control bg-warning text-white border-2"
                            required
                            [class.is-invalid]="userForm.get('correo')?.invalid && userForm.get('correo')?.touched || !validUser()">

                        @if (userForm.get('correo')?.invalid && userForm.get('correo')?.touched || !validUser()) {
                        <div class="invalid-feedback">
                            @if (userForm.get('correo')?.hasError('required')) {
                            <span class="text-primary"> El correo es obligatorio.</span>
                            }
                            @if (userForm.get('correo')?.hasError('email')) {
                            <span> Por favor, escribe un correo válido (ejemplo: amber@gmail.com).</span>
                            }
                            @if (!validUser()) {
                            <span> Este correo ya está registrado</span>
                            }
                        </div>
                        }
                    </div>
                </div>

                <div class="mb-4 text-start">
                    <label for="registerPassword" class="form-label text-light small fw-semibold">Contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text bg-black border-2 text-white">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        <input #txtPassword type="text" id="registerPassword" formControlName="contrasenia"
                            name="password" placeholder="Contraseña" class="form-control bg-warning text-white border-2"
                            required
                            [class.is-invalid]="userForm.get('contrasenia')?.invalid && userForm.get('contrasenia')?.touched">

                        @if (userForm.get('contrasenia')?.invalid && userForm.get('contrasenia')?.touched) {
                        <div class="invalid-feedback">
                            @if (userForm.get('contrasenia')?.hasError('required')) {
                            <span class="text-primary"> La contraseña es obligatorio.</span>
                            }
                            @if (userForm.get('contrasenia')?.hasError('minlength')) {
                            <span> La contraseña debe tener mínimo 8 carácteres</span>
                            }
                        </div>
                        }
                    </div>
                </div>

                <button class="btn btn-warning w-100 fw-bold py-2 mb-3 shadow" type="submit">
                    <i class="bi bi-box-arrow-in-up"></i> Registrar
                </button>

                <div class="d-flex align-items-center my-3">
                    <hr class="flex-grow-1 border-secondary">
                    <span class="mx-3 text-white-50 small">O</span>
                    <hr class="flex-grow-1 border-secondary">
                </div>

                <p class="text-white-50 small mb-0">
                    ¿Ya tienes una cuenta?
                    <a routerLink="/auth/login" class="text-warning fw-bold text-decoration-none">Inicia sesión
                        aquí</a>
                </p>

            </form>
        </div>

    </div>
</div>