/* You can add global styles to this file, and also import other style files */
/* Layout admin*/
.sidebar {
    width: 250px;
    /* Ancho fijo para que no se deforme */
    transition: all 0.3s;
}

.sidebar-item {
    transition: background 0.3s ease;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: #ffc107;
    /* Color warning */
    color: #000 !important;
}

/* Estilo para el link activo */
.nav-link.active {
    background-color: #ffc107;
    color: #000 !important;
    font-weight: bold;
    border-left: 5px solid #fff;
}

/*Navbar Del admin*/
.navbar-brand {
    letter-spacing: 1px;
    transition: opacity 0.2s;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.dropdown-item {
    padding: 10px 15px;
    transition: all 0.2s;
}

.dropdown-item:hover {
    background-color: #3e3e3e !important;
}